.header {
  display: flex;
  height: 48px;
  align-items: center;
  justify-content: space-between;
}

.left-section {
  margin-left: 12px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.logo {
  color: #6070ff;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  padding: 10px 12px;
  text-decoration: none;
}

.right-section {
  margin-right: 24px;
  margin-top: 4px;
  margin-bottom: 4px;
  border: none;
  background-color: white;
}

.icon-menu {
  padding: 8px;
  width: 24px;
  height: 24px;
}

.headline {
  display: flex;
  flex-direction: column;
  margin-left: 24px;
  margin-right: 24px;
  background-image: url('/header-shapes\ mobile@2x.svg');
  background-repeat: no-repeat;
  background-size: cover;
}

.introduction {
  color: #172b4d;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  margin-top: 114px;
  margin-bottom: 0;
}

.about {
  color: #344563;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-top: 12px;
  margin-bottom: 12px;
}

.supporting-text {
  color: #7f8cff;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 12px;
}

.social-media-links {
  display: flex;
  width: 170.17px;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
