.header {
  background: transparent;
  display: flex;
  height: 48px;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.left-section {
  margin-left: 12px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.logo {
  color: #6070ff;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  padding: 10px 12px;
  text-decoration: none;
}

.right-section {
  margin-right: 24px;
  margin-top: 4px;
  margin-bottom: 4px;
  border: none;
}

.icon-menu {
  padding: 8px;
  width: 24px;
  height: 24px;
}

.click-event {
  display: none;
}

.click-event.active {
  position: absolute;
  height: 100vh;
  display: block;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(39, 39, 231, 0.85);
  backdrop-filter: blur(6px);
}

.menu-lists {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 90px;
  margin-left: 28px;
  list-style-type: none;
}

.port-nav,
.abt-nav,
.cont-nav {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  color: white;
  text-decoration: none;
  padding: 10px 12px;
}

.close-btn {
  position: absolute;
  font-size: 1.2rem;
  color: white;
  left: 87%;
  right: 5%;
  top: 5%;
}

.headline {
  background-color: white;
  display: flex;
  flex-direction: column;
  background-image: url('header-shapes\ mobile.png');
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom-left-radius: 70px;
  height: 604px;
}

.introduction {
  color: #172b4d;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  margin-top: 114px;
  margin-bottom: 0;
  margin-left: 24px;
  margin-right: 24px;
}

.about {
  color: #344563;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-top: 12px;
  margin-bottom: 12px;
  margin-left: 24px;
  margin-right: 24px;
}

.supporting-text {
  color: #7f8cff;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 12px;
  margin-left: 24px;
  margin-right: 24px;
}

.social-media-links {
  display: flex;
  width: 170.17px;
  justify-content: space-between;
  list-style-type: none;
  margin-left: 24px;
  padding: 0;
}

.click-event.display-menu {
  display: block;
  position: relative;
  background: #f7f7f9;
}
